html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div.wrapper {
    min-height: 100%;
    position: relative;
}

@media screen and (min-width: 300px) {
    .container>.navbar-header {
        float: left;
    }
    .navbar-right {
        float: right !important;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header.spacious>div {
        display: none;
    }
    header:not(.spacious)>div {
        display: none;
    }
    header.spacious h2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header.spacious {
        padding: 2rem 0 2.5rem;
    }
    header.spacious h2 {
        max-width: 80%;
        font-size: 2.5rem;
    }
    header.spacious>nav {
        display: none;
    }
    header:not(.spacious)>div {
        display: none;
    }
}

header.main {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    border: 0px;
    border-radius: 0px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

header.spacious h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

header.spacious h2 {
    margin: 1rem auto 1rem;
    opacity: 0.7;
}

header.spacious a.btn {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #0bdbfb;
    background-color: transparent !important;
}

main {
    padding-bottom: 8rem;
}

footer.main {
    background-color: #eaeaea;
    height: 8rem;
    margin-top: 4rem;
    bottom: 0;
    width: 100%;
    position: absolute;
    border-top: 1px solid #d0d0d0;
}

footer>div {
    padding-top: 1rem;
}
